.collapsibleHeader {
  color: var(--md-default-fg-color);
  background-color: var(--md-default-fg-color--lighter);
  margin-bottom: 0.1em !important;
  margin-top: 0.1em !important;
  padding-left: 1em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.collapsibleHeaderContainer {
  position: relative;
}

.collapsibleHeaderContainer + * {
  padding-left: 2em !important;
}

.collapsibleHeaderContainer:hover, .active {
  background-color: var(--md-default-fg-color--light);
}

.collapsibleHeaderContainer:not(.active) + .collapsibleContentContainer {
  visibility: hidden; /* hide child options from tab search when collapsed. */
}

.collapsibleHeader:after {
  font-family: 'Material Icons';
  content: "expand_more";
  color: var(--md-default-fg-color);
  float: right;
  transition: all 0.2s;
}

.active > .collapsibleHeader:after {
  font-family: 'Material Icons';
  transform: rotate(180deg);
}

.collapsibleContentContainer {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.toggleAllButton {
  float: right;
}

.kernelLogo {
  position: absolute;
  transform: translate(-150%, 10%);
  height: 2.5em !important;
}

div#optionsContent li {
  list-style-type: none;
  margin: 0;
}

div#optionsContent ul {
  margin: 0;
  position: relative;
}

div#optionsContent ul.collapsibleContentContainer::before {
  content: '';
  border-left: 3px solid var(--md-default-fg-color);
  width: 3px;
  position: absolute;
  height: 100%;
  bottom: 1.3em;
  left: 1em;
}

div#optionsContent ul.collapsibleContentContainer::after {
  content: '';
  border-bottom: 3px solid var(--md-default-fg-color);
  width: 3px;
  position: absolute;
  width: 0.8em;
  bottom: 1.3em;
  left: 1em;
}

div#optionsContent div.collapsibleHeaderContainer::before {
  content: '';
  border-bottom: 3px solid var(--md-default-fg-color);
  width: 3px;
  position: absolute;
  width: 0.8em;
  bottom: 1.2em;
  left: -1em;
}

div#optionsContent > ul > li > div > div.collapsibleHeaderContainer::before {
  border: 0;
}

#optionsContent {
  position: relative;
}
