.collapsibleHeader {
  color: white;
  text-indent: 1em;
  background-color: var(--md-default-fg-color--lighter);
  margin-bottom: 0.1em !important;
  margin-top: 0.1em !important;
  padding-right: 0.5em;
}

.collapsibleHeader:hover, .active {
  background-color: var(--md-default-fg-color--light);
}

.collapsibleHeader:after {
  content: "\002B"; /* Unicode character for "plus" sign (+) */
  color: white;
  float: right;
  margin-left: 5px;
}

.active > .collapsibleHeader:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
}

.collapsibleHeaderContainer + * {
  margin-left: 1em;
}

.collapsibleContentContainer {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
